@media (min-width: 1025px){
    .stage{
        flex: 8;
    }
    .game-info{
        margin-bottom: 50px;
    }
    .keeper-container-center{
        transform: translateY(-110px);
    }
}





@media (min-width: 1025px) and (max-width: 1641px) {
    .stage{
        flex: 7;
        height: 70%;
    }
    .player-status p{
        font-size: 30px;
      }
      .player-one-name, .player-two-name{
        font-size: 25px;
        margin: 0 15px 0 15px;
    }
    .game-status-quadro{
        width: 400px;
    }
    .game-status-quadro{
        height: 80px;
      }
    /*###############GOAL AREA#########################################*/
    .goal-area{
        height: 210px;
    }
    .goal-structure-easy{
        height: 210px;
    }
    .space{
        height: 200px;
    }
    /*###############KEEPER#########################################*/

    .keeper-container-center{
        transform: translateY(-120px);
    }

     /*###############CONTROLS#########################################*/
     .controls-shooter button{
        width: 200px;
        height: 50px;
        font-size: 25px;
        margin-top: 10px;
     }
     /*###############PLAYER#########################################*/
     .ball{
        transform: translateY(-150px);
     }
     .ball-img{
        width: 60px;
        height: 60px;
     }
     .player-img{
        width: 190px;
        height: 424px;
     }
      /*###############FOOTER#########################################*/
      #footer{
        height: 30%;
      }
      .developed-by-title{
        font-size: 8px;
      }
      .Ezequiel-Rojas{
        font-size: 11px;
        margin-bottom: 6px;
    }
    .aclaration{
        font-size: 8px;
    }
  }
  /*########################################################*/
  /*########################################################*/
  /*########################################################*/
  /*########################################################*/
  /*########################################################*/

  @media (min-width: 769px) and (max-width: 1024px) {
    .stage{
        flex: 10;
    }
    .player-status p{
        font-size: 22px;
      }
      .game-status-quadro{
        height: 60px;
      }
      .player-one-name, .player-two-name{
        font-size: 20px;
        margin: 0 10px 0 10px;
        
    }
    .game-status-quadro{
        width: 350px;
    }
    .noInformation, .goalBGround, .noGoalBGround{
        height: 22px;
        width: 22px;
        margin-left: 15px;
    }

    /*###############GOAL AREA#########################################*/
    .goal-area{
        height: 210px;
    }
    .goal-structure-easy{
        height: 210px;
    }
    .space{
        height: 200px;
    }
    /*###############KEEPER#########################################*/

    .keeper-container-center{
        transform: translateY(-120px);
    }

     /*###############CONTROLS#########################################*/
     .controls-shooter button{
        width: 200px;
        height: 50px;
        font-size: 25px;
        margin-top: 10px;
     }
     /*###############PLAYER#########################################*/
     .ball{
        transform: translateY(-130px);
     }
     .ball-img{
        width: 60px;
        height: 60px;
     }
     .player-img{
        width: 190px;
        height: 424px;
     }
      /*###############FOOTER#########################################*/
      #footer{
        height: 10%;
      }
      .game-name{
        width: 200px;
      }
      .game-name img{
        margin-left: 5px;
        width: 30px;
        height: 30px;
      }
      .game-name p{
        font-size: 15px;
      }
      .developed-by{
        width: 350px;
      }
      .developed-by-title{
        font-size: 8px;
      }
      .Ezequiel-Rojas{
        font-size: 11px;
        margin-bottom: 6px;
      }
        .aclaration{
        font-size: 8px;
        }
        .social-media{
        width: 200px;
        }
  }
  /*########################################################*/
  /*########################################################*/
  /*########################################################*/
  /*########################################################*/
  /*########################################################*/

  @media (min-width: 601px) and (max-width: 768px) {
   
    .player-status p{
        font-size: 20px;
      }
      .stage{
        height: 90%;
    }
      .game-status-quadro{
        height: 80px;
        width: 300px;
      }
      .game-status, .players-status{
        width:300px;

      }
      .players-status{
        width: 300px;
        margin-left: 20px;
      }
      .player-one-name, .player-two-name{
        font-size: 20px;
        margin: 0 7px 0 7px;
        width: 80px;
        
    }
    .noInformation, .goalBGround, .noGoalBGround{
        height: 25px;
        width: 25px;
        margin-left: 4px;
    }
    .players-status{
        padding-bottom: 0;
    }
    .status-bar{
        height: 10px;
        width: 115px;
    }
    .stage-bottom{
        grid-gap: 2px;
        grid-template-areas:
    "keeper keeper keeper keeper"
    "area area area area"
    "controls controls player player"
    "controls controls player player";
    }
    /*###############GOAL AREA#########################################*/
    .goal-area{
        height: 139px;
    }
    .goal-structure-easy{
        width: 360px;
        height: 136px;
        border-top: solid 8px rgba(49, 49, 49, 0.777);
        border-left: solid 8px rgba(49, 49, 49, 0.777);
        border-right: solid 8px rgba(49, 49, 49, 0.777);
    }
    .goal-section-img{
        width: 20px;
        height: 20px;
    }

  /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

  .keeper-container-center{
    transform: translateY(-80px)
                translateX(25px);
    width: 110px;
    height: 110px;
    display: block;
    }
    .keeper-container-left-top{
        transform: translateY(-100px)
                    translateX(-70px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-container-left-down{
        transform: translateY(-80px) translateX(-70px)
        rotate(-15deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-container-right-top{
        transform: translateY(-100px)
                    translateX(90px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-container-right-down{
        transform: translateY(-80px) translateX(80px)
        rotate(15deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-win-left-top{
        transform: translateY(-100px)
                    translateX(-80px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-win-left-down{
        transform: translateY(-70px) translateX(-80px)
        rotate(-20deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }

    .keeper-win-right-top{
        transform: translateY(-100px)
                    translateX(95px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-win-right-down{
        transform: translateY(-90px) translateX(100px)
        rotate(20deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-celebration{
        transform: translateY(-100px);
        margin: 0 30px 0 30px;
        width: 55px;
        height: 120px;
        display: none;
    }
    .keeper-celebration-without-ball{
    transform: translateY(-100px);
    margin: 0 30px 0 30px;
    width: 55px;
    height: 120px;
    display: none;
    }
    .keeper-lose{
        transform: translateY(-100px);
        margin: 0 30px 0 30px;
        width: 55px;
        height: 120px;
        display: none;
    }
     /*###############  CONTROLS ####################################*/
    .area{
        height: 140px;
        width: 100%;

    }

    /*###############  CONTROLS ####################################*/
     .controls{
        align-items: center;
        margin-top: 150px;
        margin-left: 35px;
     }
     .controls-buttons{
        width: 50%;
        height: 200px;
     }
     .controls-shooter{
        height: auto;
        width: 200px;
     }
     .controls-shooter button{
        width: 240px;
        height: 60px;
        font-size: 28px;

     }
     /*###############  PLAYER ####################################*/
    .player{
        display: flex;
        width: 240px;
     }
     .ball{
        width: 100px;
        height: 20px;
        display: flex;
        justify-content: center;
        transform: translateX(-100px)
                    translateY(80px);
    
    }


     .player-img{
        transform: translateY(-200px)
               translateX(-30px);
     }
     /*############### FOOTER ####################################*/
     #footer{
        display: flex;
     }
     .game-name{
        display: none;
    }
     .developed-by{
        width: 75%;
        border-left: 0px;
     }
     .developed-by-title{
        font-size: 10px;
        margin-bottom: 5px;
        font-weight: lighter;
    }
    .Ezequiel-Rojas{
        font-size: 15px;
        margin-bottom: 8px;
    }
    .aclaration{
        font-size: 10px;
    }


    .social-media{
        width: 25%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .instagram-icon{
        width: 35px;
        height: 35px;
        margin: 0px 5px 0px 5px;
    }
    .github-icon{
        width: 25px;
        height: 25px;
        margin: 0px 5px 0px 5px;
    }
    .linkedin-icon{
        width: 35px;
        height: 35px;
        margin: 0px 5px 0px 5px;
    }


    .setup-screen h2{
        font-size: 30px;
    }



  }

  /*###############################
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  #########################*/
  /*########################################################*/
  /*########################################################*/
  /*########################################################*/
  /*########################################################*/

  @media (min-width: 481px) and (max-width: 600px) {
    .player-status p{
        font-size: 12px;
      }
      .stage{
        height: 90%;
    }
      .game-status-quadro{
        height: 50px;
        width: 240px;
      }
      .game-status, .players-status{
        width:250px;

      }
      .players-status{
        width: 230px;
        margin-left: 20px;
      }
      .player-one-name, .player-two-name{
        font-size: 15px;
        margin: 0 7px 0 7px;
        width: 80px;
        
    }
    .noInformation, .goalBGround, .noGoalBGround{
        height: 22px;
        width: 22px;
        margin-left: 4px;
    }
    .players-status{
        padding-bottom: 0;
    }
    .status-bar{
        height: 10px;
        width: 75px;
    }
    .stage-bottom{
        grid-gap: 2px;
        grid-template-areas:
    "keeper keeper keeper keeper"
    ". . area area"
    "controls controls player player"
    "controls controls player player";
    }
    /*###############GOAL AREA#########################################*/
    .goal-area{
        height: 139px;
    }
    .goal-structure-easy{
        width: 360px;
        height: 136px;
        border-top: solid 8px rgba(49, 49, 49, 0.777);
        border-left: solid 8px rgba(49, 49, 49, 0.777);
        border-right: solid 8px rgba(49, 49, 49, 0.777);
    }
    .goal-section-img{
        width: 20px;
        height: 20px;
    }

  /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

  .keeper-container-center{
    transform: translateY(-80px)
                translateX(-50px);
    width: 110px;
    height: 110px;
    display: block;
    }
    .keeper-container-left-top{
        transform: translateY(-100px)
                    translateX(-70px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-container-left-down{
        transform: translateY(-80px) translateX(-70px)
        rotate(-15deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-container-right-top{
        transform: translateY(-100px)
                    translateX(90px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-container-right-down{
        transform: translateY(-80px) translateX(80px)
        rotate(15deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-win-left-top{
        transform: translateY(-100px)
                    translateX(-80px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-win-left-down{
        transform: translateY(-70px) translateX(-80px)
        rotate(-20deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }

    .keeper-win-right-top{
        transform: translateY(-100px)
                    translateX(95px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-win-right-down{
        transform: translateY(-90px) translateX(100px)
        rotate(20deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-celebration{
        transform: translateY(-100px);
        margin: 0 30px 0 30px;
        width: 55px;
        height: 120px;
        display: none;
    }
    .keeper-celebration-without-ball{
    transform: translateY(-100px);
    margin: 0 30px 0 30px;
    width: 55px;
    height: 120px;
    display: none;
    }
    .keeper-lose{
        transform: translateY(-100px);
        margin: 0 30px 0 30px;
        width: 55px;
        height: 120px;
        display: none;
    }
     /*###############  CONTROLS ####################################*/
    .area{
        height: 140px;
        width: 100%;

    }

    /*###############  CONTROLS ####################################*/
     .controls{
        align-items: center;
        margin-top: 150px;
        margin-left: 35px;
     }
     .controls-buttons{
        width: 50%;
        height: 200px;
     }
     .controls-shooter{
        height: auto;
        width: 150px;
     }
     .controls-shooter button{
        width: 150px;
        height: 50px;
        font-size: 25px;

     }
     /*###############  PLAYER ####################################*/
    .player{
        display: flex;
        width: 240px;
        
     }
     .ball{
        width: 100px;
        height: 20px;
        display: flex;
        justify-content: center;
        transform: translateX(-100px)
                    translateY(80px);
    
    }


     .player-img{
        transform: translateY(-100px)
               translateX(-30px);
               
     }
     /*############### FOOTER ####################################*/
     #footer{
        display: flex;
     }
     .game-name{
        display: none;
    }
     .developed-by{
        width: 70%;
        border-left: 0px;
     }
     .developed-by-title{
        font-size: 8px;
        margin-bottom: 5px;
        font-weight: lighter;
    }
    .Ezequiel-Rojas{
        font-size: 12px;
        margin-bottom: 8px;
    }
    .aclaration{
        font-size: 8px;
    }


    .social-media{
        width: 30%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .instagram-icon{
        width: 30px;
        height: 30px;
        margin: 0px 5px 0px 5px;
    }
    .github-icon{
        width: 20px;
        height: 20px;
        margin: 0px 5px 0px 5px;
    }
    .linkedin-icon{
        width: 30px;
        height: 30px;
        margin: 0px 5px 0px 5px;
    }


    .setup-screen h2{
        font-size: 20px;
    }



  }

  /*########################################################*/
  /*########################################################*/
  /*########################################################*/
  /*########################################################*/
  /*########################################################*/

  @media (min-width: 395px) and (max-width: 480px) {

    #player-name::placeholder {
  font-size: 16px;
  color: #999;
}

    .stage{
        height: 90%;
    }
    .player-status p{
        font-size: 10px;
      }
      .game-status-quadro{
        height: 50px;
        width: 230px;
      }
      .game-status, .players-status{
        width: 230px;

      }
      .players-status{
        width: 150px;
        margin-left: 20px;
      }
      .player-one-name, .player-two-name{
        font-size: 10px;
        margin: 0 7px 0 7px;
        width: 80px;
        
    }
    .noInformation, .goalBGround, .noGoalBGround{
        height: 20px;
        width: 20px;
        margin-left: 4px;
    }
    .players-status{
        padding-bottom: 0;
    }
    .status-bar{
        height: 10px;
        width: 70px;
    }
    .stage-bottom{
        grid-gap: 2px;
        grid-template-areas:
    "keeper keeper keeper keeper"
    ". . area area"
    "controls controls player player"
    "controls controls player player";
    }
    /*###############GOAL AREA#########################################*/
    .goal-area{
        height: 139px;
    }
    .goal-structure-easy{
        width: 360px;
        height: 136px;
        border-top: solid 7px rgba(49, 49, 49, 0.777);
        border-left: solid 7px rgba(49, 49, 49, 0.777);
        border-right: solid 7px rgba(49, 49, 49, 0.777);
    }
    .goal-section-img{
        width: 20px;
        height: 20px;
    }

  /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

  .keeper-container-center{
    transform: translateY(-80px)
                translateX(-80px);
    width: 110px;
    height: 110px;
    display: block;
    }
    .keeper-container-left-top{
        transform: translateY(-100px)
                    translateX(-70px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-container-left-down{
        transform: translateY(-80px) translateX(-70px)
        rotate(-15deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-container-right-top{
        transform: translateY(-100px)
                    translateX(90px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-container-right-down{
        transform: translateY(-80px) translateX(80px)
        rotate(15deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-win-left-top{
        transform: translateY(-100px)
                    translateX(-80px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-win-left-down{
        transform: translateY(-70px) translateX(-80px)
        rotate(-20deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }

    .keeper-win-right-top{
        transform: translateY(-100px)
                    translateX(95px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-win-right-down{
        transform: translateY(-90px) translateX(100px)
        rotate(20deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-celebration{
        transform: translateY(-100px);
        margin: 0 30px 0 30px;
        width: 55px;
        height: 120px;
        display: none;
    }
    .keeper-celebration-without-ball{
    transform: translateY(-100px);
    margin: 0 30px 0 30px;
    width: 55px;
    height: 120px;
    display: none;
    }
    .keeper-lose{
        transform: translateY(-100px);
        margin: 0 30px 0 30px;
        width: 55px;
        height: 120px;
        display: none;
    }
     /*###############  CONTROLS ####################################*/
    .area{
        height: 140px;
        width: 100%;

    }

    /*###############  CONTROLS ####################################*/
     .controls{
        align-items: center;
        margin-top: 150px;
        margin-left: 35px;
        transform: translateY(-40px)
                    translateX(4px);
     }
     .controls-buttons{
        width: 50%;
        height: 200px;
     }
     .controls-shooter{
        height: auto;
        width: 150px;
     }
     .controls-shooter button{
        width: 120px;
        height: 40px;
        font-size: 15px;

     }
     /*###############  PLAYER ####################################*/
    .player{
        display: flex;
        width: 240px;
     }
     .ball{
        width: 100px;
        height: 20px;
        display: flex;
        justify-content: center;
        transform: translateX(-100px)
                    translateY(100px);
    
    }


     .player-img{
        transform: translateX(-30px)
                    translateY(-180px);
     }
     /*############### FOOTER ####################################*/
     #footer{
        display: flex;
     }
     .game-name{
        display: none;
    }
     .developed-by{
        width: 70%;
        border-left: 0px;
     }
     .developed-by-title{
        font-size: 5px;
        margin-bottom: 5px;
        font-weight: lighter;
    }
    .Ezequiel-Rojas{
        font-size: 8px;
        margin-bottom: 8px;
    }
    .aclaration{
        font-size: 5px;
    }


    .social-media{
        width: 30%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .instagram-icon{
        width: 30px;
        height: 30px;
        margin: 0px 5px 0px 5px;
    }
    .github-icon{
        width: 20px;
        height: 20px;
        margin: 0px 5px 0px 5px;
    }
    .linkedin-icon{
        width: 30px;
        height: 30px;
        margin: 0px 5px 0px 5px;
    }


    .setup-screen h2{
        font-size: 20px;
    }

  }

    /*########################################################*/
  /*########################################################*/
  /*########################################################*/
  /*########################################################*/
  /*########################################################*/

  @media (max-width: 394px){
    body{
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }
    .stage{
        flex: 5;
        min-height: 90%;
    }
    .stage-top{
        grid-gap: 0;
    }
     .stage-bottom{
        min-height: 100%;
    }
    .game-info{
        height: 120px;
        width: 100%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .player-status p{
        font-size: 12px;
      }
      .name{
        margin-left: 0;
      }
      .game-status-quadro{
        height: 55px;
        width: 310px;
        
      }
      .game-status, .players-status{
        width: 230px;

      }
      .players-status{
        width: 100%;
        margin-left: 0;
      }
      .player-one-name, .player-two-name{
        font-size: 13px;
        margin: 0 7px 0 7px;
        width: 80px;
        
    }
    .noInformation, .goalBGround, .noGoalBGround{
        height: 20px;
        width: 20px;
        margin-left: 4px;
    }
    .players-status{
        padding-bottom: 0;
        width: 300px;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .player-status{
        margin: 0;
        width: 140px;
    }
    .status-bar{
        height: 10px;
        width: 140px;
    }
    .stage-bottom{
        grid-gap: 2px;

        grid-template-areas:
    "keeper"
    "area"
    "player"
    "controls ";
    }
    /*###############GOAL AREA#########################################*/
    .goal-area{
        height: 100px;
    }
    .goal-structure-easy{
        width: 280px;
        height: 100px;
        border-top: solid 7px rgba(49, 49, 49, 0.777);
        border-left: solid 7px rgba(49, 49, 49, 0.777);
        border-right: solid 7px rgba(49, 49, 49, 0.777);
    }
    .goal-section-img{
        width: 10px;
        height: 10px;
    }

  /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

  .keeper-container-center{
    transform: translateY(-60px)
                translateX(-10px);
    width: 80px;
    height: 80px;
    display: block;
    }
    .keeper-container-left-top{
        transform: translateY(-100px)
                    translateX(-70px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-container-left-down{
        transform: translateY(-80px) translateX(-70px)
        rotate(-15deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-container-right-top{
        transform: translateY(-100px)
                    translateX(90px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-container-right-down{
        transform: translateY(-80px) translateX(80px)
        rotate(15deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-win-left-top{
        transform: translateY(-100px)
                    translateX(-80px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-win-left-down{
        transform: translateY(-70px) translateX(-80px)
        rotate(-20deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }

    .keeper-win-right-top{
        transform: translateY(-100px)
                    translateX(95px);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-win-right-down{
        transform: translateY(-90px) translateX(100px)
        rotate(20deg);
        margin: 0 30px 0 30px;
        height: 100px;
        width: 165px;
        display: none;
    }
    .keeper-celebration{
        transform: translateY(-90px);
        margin: 0 30px 0 30px;
        width: 55px;
        height: 100px;
        display: none;
    }
    .keeper-celebration-without-ball{
    transform: translateY(-90px);
    margin: 0 30px 0 30px;
    width: 55px;
    height: 100px;
    display: none;
    }
    .keeper-lose{
        transform: translateY(-90px);
        margin: 0 30px 0 30px;
        width: 55px;
        height: 95px;
        display: none;
    }
     /*###############  CONTROLS ####################################*/
    .area{
        height: 7px;
        width: 100vw;
    }

    /*###############  CONTROLS ####################################*/
     .controls{
        width: 50vw;
        align-items: center;
        justify-content: flex-start;
        transform: translateY(-240px)
                    translateX(34px);
     
     }
     .controls-buttons{
        width: 50%;
        height: 200px;
     }
     .controls-shooter{
        height: auto;
        width: 110px;
     }
     .controls-shooter button{
        width: 120px;
        height: 40px;
        font-size: 15px;

     }
     /*###############  PLAYER ####################################*/
    .player{
        display: flex;
        width: 100vw;
        height: 290px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
     }
     .ball{
        width: 40px;
        height: 20px;
        display: flex;
        justify-content: center;
        transform: translateX(200px)
                    translateY(-240px);
    }
    .ball-img{
         background-image: url('img/ball-image-small.png');
         width: 40px;
         height: 40px;
        
    }

     .player-img{
        height: 400px;
     }

     /*############### FOOTER ####################################*/
     #footer{
        display: flex;
        height: 100px;
        flex-shrink: 0;

     }
     .game-name{
        display: none;
    }
     .developed-by{
        width: 70%;
        border-left: 0px;
     }
     .developed-by-title{
        font-size: 5px;
        margin-bottom: 5px;
        font-weight: lighter;
    }
    .Ezequiel-Rojas{
        font-size: 8px;
        margin-bottom: 8px;
    }
    .aclaration{
        font-size: 5px;
    }


    .social-media{
        width: 30%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .instagram-icon{
        width: 30px;
        height: 30px;
        margin: 0px 5px 0px 5px;
    }
    .github-icon{
        width: 20px;
        height: 20px;
        margin: 0px 5px 0px 5px;
    }
    .linkedin-icon{
        width: 30px;
        height: 30px;
        margin: 0px 5px 0px 5px;
    }


    .setup-screen h2{
        font-size: 20px;
    }
    #player-name::placeholder {
    font-size: 12px;
    color: #999;
    }




  }

















  