*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'books', sans-serif;}

    @font-face {
        font-family: 'books';
        src: url('./assets/Go around the books 2022.ttf');
      }
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}
.stage{
    width: 100%;
    flex: 1;
    height: 100%;
    background-color: #e5e5e5;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "game-info game-info game-info game-info"
    "goal-area goal-area goal-area goal-area"
    "keeper keeper keeper keeper"
    "area area area area"
    "controls space space space"
    "controls space space space"
    "player player player player"
    ;
}
.game-info{
    grid-area: game-info;
    height: 100px;
    border: solid 2px green;
    display: flex;
    align-items: center;
    
}
.game-status, .players-status{
    width: 50%;
    height: 90px;
    border: solid 1px purple;
    display: flex;
}
.game-status{
   display: flex;
    justify-content: center;
    align-items: center; 
}
.game-status-quadro{
    width: 400px;
    height: 60px;
    border: solid red 1px;
}
.player-one-name, .player-two-name{
    font-size: 30px;
    margin: 0 20px 0 20px;
    font-family: 'books', sans-serif;
}
.player-one-status, .player-two-status{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.name{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.player-one-goals, .player-two-goals{
    display: flex;

}
.noInformation{
    height: 23px;
    width: 23px;
    border-radius: 50%;
    margin-left: 15px;
    border: solid 3px rgb(98, 98, 98);
    background-color: rgb(158, 156, 156);
    
}


.goalBGround{
    height: 23px;
    width: 23px;
    border-radius: 50%;
    margin-left: 15px;
    border: solid 3px green;
    background-color: rgba(0, 128, 0, 0.315);
}
.noGoalBGround{
    height: 23px;
    width: 23px;
    border-radius: 50%;
    margin-left: 15px;
    border: solid 3px red;
    background-color: rgba(255, 0, 0, 0.249);
}


.players-status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .player-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }
  
  .status-bar {
    width: 100%;
    height: 15px;
    border: 2px solid #333;
    border-radius: 10px;
    background: #ccc;
    overflow: hidden;
    margin-top: 5px;
  }
  .status-bar-fill {
    height: 100%;
    width: 100%;
    background-color: green; /* valor inicial */
    transition: width 0.5s ease, background-color 0.5s ease;
  }



/*##############################################################################################################3333*/
.goal-area{
    grid-area: goal-area;
    border: solid yellow 2px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.goal-structure-easy{
    width: 600px;
    height: 210px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top: solid 10px rgba(49, 49, 49, 0.777);
    border-left: solid 10px rgba(49, 49, 49, 0.777);
    border-right: solid 10px rgba(49, 49, 49, 0.777);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}
.goal-section{
    border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#goal-section-1, #goal-section-4,#goal-section-7{
    justify-content: flex-start;
    padding-left: 20px;
    opacity: 0;
}
#goal-section-3, #goal-section-6,#goal-section-9{
    justify-content: flex-end;
    padding-right: 20px;
    opacity: 0;
}
#goal-section-2, #goal-section-5,#goal-section-8{
    opacity: 0;
}
.goal-section-img{
    background-image: url(../img/ball\ .png);
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
}

@keyframes shotBall {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-150px); opacity: 0; }
  }
  .animate-shot {
    animation: shotBall 0.6s forwards;
  }
  



/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.keeper{
    grid-area: keeper;
    border: solid 1px blue;
    height: 10px;
    display: flex;
    justify-content: center;
}
.keeper-container-center{
    transform: translateY(-150px);
    border: solid brown 1px;
    margin: 0 30px 0 30px;
    width: 160px;
    height: 160px;
    background: url('../img/arquero-parado\ .png');
    background-position: center;
    background-size: cover;
    display: block;
    
}
.keeper-container-left-top{
    transform: translateY(-170px)
                translateX(-100px);
    border: solid brown 1px;
    margin: 0 30px 0 30px;
    height: 175px;
    width: 255px;
    background: url('../img/arquero-tirandose-izquierda.png');
    background-position: center;
    background-size: cover;
    display: none;
}
.keeper-container-left-down{
    transform: translateY(-150px) translateX(-140px)
    rotate(-15deg);
    border: solid brown 1px;
    margin: 0 30px 0 30px;
    height: 175px;
    width: 255px;
    background: url('../img/arquero-tirandose-izquierda.png');
    background-position: center;
    background-size: cover;
    display: none;
}
.keeper-container-right-top{
    transform: translateY(-160px)
                translateX(100px);
    border: solid brown 1px;
    margin: 0 30px 0 30px;
    height: 175px;
    width: 255px;
    background: url('../img/arquero-tirandose-derecha.png');
    background-position: center;
    background-size: cover;
    display: none;
}
.keeper-container-right-down{
    transform: translateY(-150px) translateX(140px)
    rotate(15deg);
    border: solid brown 1px;
    margin: 0 30px 0 30px;
    height: 175px;
    width: 255px;
    background: url('../img/arquero-tirandose-derecha.png');
    background-position: center;
    background-size: cover;
    display: none;
}

.keeper-win-left-top{
    transform: translateY(-170px)
                translateX(-100px);
    border: solid brown 1px;
    margin: 0 30px 0 30px;
    height: 175px;
    width: 255px;
    background: url('../img/keeper-win-left.png');
    background-position: center;
    background-size: cover;
    display: none;
}
.keeper-win-left-down{
    transform: translateY(-150px) translateX(-140px)
    rotate(-20deg);
    border: solid brown 1px;
    margin: 0 30px 0 30px;
    height: 175px;
    width: 255px;
    background: url('../img/keeper-win-left.png');
    background-position: center;
    background-size: cover;
    display: none;
}
.keeper-win-right-top{
    transform: translateY(-180px)
                translateX(165px);
    border: solid brown 1px;
    margin: 0 30px 0 30px;
    height: 175px;
    width: 255px;
    background: url('../img/keeper-win-right.png');
    background-position: center;
    background-size: cover;
    display: none;
}
.keeper-win-right-down{
    transform: translateY(-150px) translateX(140px)
    rotate(15deg);
    border: solid brown 1px;
    margin: 0 30px 0 30px;
    height: 175px;
    width: 255px;
    background: url('../img/keeper-win-right.png');
    background-position: center;
    background-size: cover;
    display: none;
}
.keeper-celebration{
    transform: translateY(-170px);
    border: solid brown 1px;
    margin: 0 30px 0 30px;
    width: 115px;
    height: 190px;
    background: url('../img/keeper-win-celebration.png');
    background-position: center;
    background-size: cover;
    display: none;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@222*/


.area{
    grid-area: area;
    height: 65px;
    width: 100%;
    border: solid 1px green;
    display: flex;
    justify-content: center;
}
.area-left, .area-center, .area-right{
    width: 55px;
    height: 55px;
    background: url(../img/ball\ .png);
    background-position: center;
    background-size: cover;
    border: solid green 1px;
    margin: 0 43px 0 43px;
    opacity: 0;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@222*/


.space{
    grid-area: space;
    border: solid 1px purple;
    height: 220px;
}



/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@222*/


.controls{
    grid-area: controls;
    border: solid 2px red;
    display: flex;
    flex-direction: column;
}
.controls-buttons{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    border: solid 1px gold;
}
.controls-power{
    width: 30%;
    height: 100%;
    border: solid 1px green;
    display: flex;
    justify-content: center;
}
.controls-power-label{
    height: 150px;
    width: 30px;
    position: absolute;
    border: solid 3px #000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, green, yellow, red);
}
.controls-power-input{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 1px #000;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}
.controls-direction{
    width: 70%;
    height: 100%;
    border: solid blue 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    display: none;
}

.controls-direction-goal{
    width: 230px;
    height: 90px;
    border-top: solid 4px black;
    border-left: solid 4px black;
    border-right: solid 4px black;
    margin-bottom: 22px;
}
.controls-direction-label{
    width: 300px;
    height: 15px;
    border: solid 2px black;
    border-radius: 15px;
    background-image: linear-gradient(to right, red, yellow, green, yellow, red);
    position: absolute;

}
.controls-direction-input{
    width: 15px;
    height: 15px;
    border: solid 1px black;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 0;
    display: flex;
    align-items: flex-start;

}
.controls-direction-vertical{
    transform: translateY(-115px) translateX(-4px);
    display: none;
    width: 20px;
    height: 130px;
    border: solid 2px black;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, red, yellow, green);
    position: absolute;
}
.controls-direction-vertical-input{
    width: 18px;
    height: 18px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}

.controls-shooter{
    border: solid 1px green;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls-shooter button{
    width: 200px;
    height: 40px;
    font-family: 'PastelCrayon', sans-serif;
    cursor: pointer;
    border: solid 1px #000;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
}
#power-button{
    display: block;
}
#directionX-button{
    display: none;
}
#directionY-button{
    display: none;
}
#shoot-button{
    display: none;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@222*/

.player{
    grid-area: player;
    border: solid 1px green;
    height: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.ball{
    width: 100%;
    height: 10px;
    border: solid 1px red;
    display: flex;
    justify-content: center;
    transform: translateY(-50px);

}
.ball-img{
    background-image: url(../img/ball\ .png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
}
.player-position{
    width: 100%;
    height: 10px;
    border: solid 1px blue;
    display: flex;
    flex-direction: row;
}
.space-two{
    width: 100%;
    height: 100%;
    border: solid 1px violet;
    display: block;
}
.player-img-container{
    width: 100%;
    height: 100%;
    border: solid salmon 1px;
    display: flex;
    justify-content: flex-start;
    
}
.player-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    border: solid red 1px;
    transform: translateY(-350px);
}
.shooter{
    width: 100%;
    height: 100%;
    background-image: url(../img/player-before-shot.png);
    background-position: center;
    background-size: cover;
}



/*#########################################3*/

.footer{
    width: 100%;
    height: 50px;
    border: solid 3px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer p {
    width: 100%;
}

/*#########################################3*/

#message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 24px;
    z-index: 9999;
    text-align: center;
    display: none;
  }
  
  #message-box.show {
    display: block;
    animation: fadeInOut 2s ease forwards;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }
  